@using ITExam.ViewModels.Class
 @model IEnumerable<ClassVM> 
 <!-- Import cai layout --> 
 @{ 
     Layout = "_StudentLayout"; 
     <!-- Nhap title --> 
     ViewData["Title"] = "Thông tin tài khoản"; 
 } 
 <!-- Add cai css do day --> 
 @section Style { 
     <!-- FontAwesome 6.2.0 CSS --> 
     <link rel="stylesheet" 
           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
           integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
           crossorigin="anonymous" 
           referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="~/css/teacher-class-style.css">
    <link rel="stylesheet" href="~/css/teacher-card-info-style.css">
 }
 <!-- Nội dung  -->
<div class="container-fluid p-0">
    <div class="container-fluid px-3">
        <div class="pt-1 px-2 px-md-3 px-lg-4">
            <div class="row mx-0 justify-content-center pt-2">
                <div class="col-lg-6">
                    <div class="section-title text-center position-relative mb-4">
                        <h2 class="display-4">Danh sách lớp học đã tham gia</h2>
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Số lượng lớp học đã tham gia: @Model.Count()</h6>
                    </div>
                </div>
            </div>

            <div class="px-3 pt-2 pb-3">
                <div class="row g-2">
                    <!-- Tìm kiếm -->
                    <div class="col-12 col-md-8">
                        <div class="input-group h-100">
                            <input type="text" id="searchClassInput" class="form-control h-100" placeholder="Tìm kiếm lớp học..." />
                        </div>
                    </div>

                    <!-- Nút tạo mới -->
                    <div class="col-12 col-md-4">
                        <a class="btn btn-primary w-100 h-100 d-flex justify-content-center align-items-center"
                           data-bs-toggle="modal"
                           href="#staticBackdrop-take-part-in-class"
                           role="button">
                            Tham gia lớp học
                        </a>
                    </div>
                </div>
            </div>

            <div id="examListContainer" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 px-4 pt-2 pb-4">
                @foreach (var dt in Model)
                {
                    var classname = dt.ClassName.Length > 30 ? dt.ClassName.Substring(0, 30) + "..." : dt.ClassName;
                    <div class="col-12 col-sm-6 col-lg-4 class-card" data-tenlop="@dt.ClassName.ToLowerInvariant()">
                        <div class="card-info-item position-relative overflow-hidden rounded shadow-sm bg-black">
                            <img class="img-fluid w-100" src="~/img/class-avatar.png" alt="Ảnh bài thi" style="height: 270px; object-fit: cover;">

                            <div class="card-info-text p-4 text-white">
                                <h5 class="text-center fw-semibold mb-2 text-white" title="@dt.ClassName">@classname</h5>
                                <div class="d-flex justify-content-between small border-top border-light pt-2 mt-2 px-1">
                                    <div class="row text-white small">
                                        <div class="col-12 col-md-6 mb-1">
                                            <i class="fa fa-user mr-2"></i>Số lượng sinh viên:
                                            @dt.StudentCount
                                        </div>
                                        <div class="col-12 col-md-6 mb-1">
                                            <i class="fa fa-book me-2"></i>Số lượng đề thi:
                                            @dt.ExamCount
                                        </div>
                                        <div class="col-12 col-md-6 mb-1">
                                            <i class="fa-solid fa-clock me-1"></i>
                                            Ngày tạo: @dt.CreatedDate.ToString("dd-MM-yyyy")
                                        </div>
                                    </div>
                                </div>

                                <div class="w-100 bg-transparent rounded mt-3 mb-3 text-center p-2">
                                    <div class="d-flex justify-content-center flex-wrap gap-2">
                                        <a asp-controller="Student" asp-action="ClassDetail" asp-route-id="@dt.ClassId"
                                           class="btn border-white text-white edit-class-btn">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                            Vào lớp học
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    </div>
 @section Modal{ 
     <!-- Modal tham gia lớp học --> 
     <div class="modal fade" 
          id="staticBackdrop-take-part-in-class" 
          data-bs-backdrop="static" 
          data-bs-keyboard="false" 
          tabindex="-1" 
          aria-labelledby="staticBackdropLabel" 
          aria-hidden="true"> 
         <div class="modal-dialog"> 
             <div class="modal-content"> 
                 <div class="modal-header bg-primary text-white"> 
                     <h1 class="modal-title fs-5" id="staticBackdropLabel"> 
                         THAM GIA LỚP HỌC 
                     </h1> 
                     <button type="button" 
                             class="btn-close bg-white" 
                             data-bs-dismiss="modal" 
                             aria-label="Close"></button> 
                 </div> 
                 <div class="modal-body"> 
                     <div class="mb-4"> 
                         <label for="classCodeInput" class="form-label">Nhập mã lớp học</label> 
                         <input class="form-control border-success" 
                                id="classCodeInput" 
                                placeholder="Nhập mã lớp học..." /> 
                         <div class="mt-3"> 
                             <ul> 
                                 <b>Hướng dẫn sử dụng:</b> 
                                 <li>1. Sử dụng tài khoản đã được đăng kí.</li> 
                                 <li>2. Nhập mã lớp do giảng viên cung cấp.</li> 
                             </ul> 
                         </div> 
                         <span id="classJoinError" class="text-danger d-none">⚠ Lớp học không tồn tại!</span> 
                     </div> 
                 </div> 
                 <div class="modal-footer"> 
                     <button type="button" 
                             class="btn btn-secondary" 
                             data-bs-dismiss="modal"> 
                         Đóng 
                     </button> 
                     <button type="button" class="btn btn-primary" id="joinClassBtn">Tham gia</button> 
                 </div> 
             </div> 
         </div> 
     </div> 

     <!-- Modal xác nhận --> 
     <div class="modal fade" 
          id="confirmJoinModal" 
          data-bs-backdrop="static" 
          data-bs-keyboard="false" 
          tabindex="-1" 
          aria-labelledby="confirmJoinLabel" 
          aria-hidden="true"> 
         <div class="modal-dialog modal-dialog-centered"> 
             <div class="modal-content"> 
                 <div class="modal-header"> 
                     <h1 class="modal-title fs-5" id="confirmJoinLabel"> 
                         Xác nhận tham gia lớp học 
                     </h1> 
                     <button type="button" 
                             class="btn-close" 
                             data-bs-dismiss="modal" 
                             aria-label="Close"></button> 
                 </div> 
                 <div class="modal-body"> 
                     <p>Bạn có chắc chắn muốn tham gia lớp học này?</p> 
                     <ul> 
                         <li><strong>Tên lớp học:</strong> <span id="confirmClassName"></span></li> 
                         <li><strong>Mã lớp học:</strong> <span id="confirmClassCode"></span></li> 
                     </ul> 
                 </div> 
                 <div class="modal-footer"> 
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 
                         Hủy 
                     </button> 
                     <button type="button" class="btn btn-primary" id="confirmJoinBtn">Xác nhận</button> 
                 </div> 
             </div> 
         </div> 
     </div> 

 } 
 @section Script {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

     <script> 
             document.addEventListener("DOMContentLoaded", function () { 
             let joinClassBtn = document.getElementById("joinClassBtn"); 
             let confirmJoinModal = new bootstrap.Modal(document.getElementById("confirmJoinModal")); 
             let takePartInModal = new bootstrap.Modal(document.getElementById("staticBackdrop-take-part-in-class")); 
             let confirmClassName = document.getElementById("confirmClassName"); 
             let confirmClassCode = document.getElementById("confirmClassCode"); 
             let classJoinError = document.getElementById("classJoinError"); 

             joinClassBtn.addEventListener("click", function () { 
                 let classCode = document.getElementById("classCodeInput").value.trim(); 

                 if (!classCode) { 
                     classJoinError.textContent = "⚠ Vui lòng nhập mã lớp học!"; 
                     classJoinError.classList.remove("d-none"); 
                     return; 
                 } 

                 // Kiểm tra lớp học tồn tại 
                 fetch(`/Student/CheckClass?code=${classCode}`) 
                     .then(response => response.json()) 
                     .then(data => { 
                         if (data.exists) { 
                             confirmClassName.textContent = data.className; 
                             confirmClassCode.textContent = classCode; 
                             takePartInModal.hide(); 
                             setTimeout(() => confirmJoinModal.show(), 300); 
                         } else { 
                             classJoinError.textContent = "⚠ Lớp học không tồn tại!"; 
                             classJoinError.classList.remove("d-none"); 
                         } 
                     }) 
                     .catch(error => console.error("Lỗi kiểm tra lớp học:", error)); 
             });
            function showToast(message, color) {
               Toastify({
                   text: message,
                   duration: 4000,
                   close: true,
                   gravity: "bottom",
                   position: "right",
                   stopOnFocus: true,
                   style: { background: color }
               }).showToast();
           }
             // Gửi yêu cầu tham gia lớp 
             document.getElementById("confirmJoinBtn").addEventListener("click", function () { 
                 let classCode = confirmClassCode.textContent; 

                 fetch("/Student/JoinClass", { 
                     method: "POST", 
                     headers: { "Content-Type": "application/json" }, 
                     body: JSON.stringify({ Code: classCode }) 
                 }) 
                 .then(response => response.json()) 
                 .then(data => {
                             if (data.message.includes("thành công")) {
            showToast(data.message, "#28a745");

            // Chờ 2 giây rồi mới reload
            setTimeout(() => {
                window.location.reload();
            }, 2000); // = 2 giây
        } else {
            showToast(data.message, "#dc3545");
        }

                 }) 
                 .catch(error => console.error("Lỗi khi tham gia lớp học:", error)); 
             }); 
         }); 
     </script>
    <!-- Tìm kiếm lớp học -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById("searchClassInput");
            const classCards = document.querySelectorAll(".class-card");

            searchInput.addEventListener("input", function () {
                const keyword = this.value.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");

                classCards.forEach(card => {
                    const tenLop = card.getAttribute("data-tenlop").normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                    if (tenLop.includes(keyword)) {
                        card.style.display = "";
                    } else {
                        card.style.display = "none";
                    }
                });

                const isAnyVisible = Array.from(classCards).some(card => card.style.display !== "none");
                if (!isAnyVisible) {
                    if (!document.getElementById("noResult")) {
                        const msg = document.createElement("h4");
                        msg.id = "noResult";
                        msg.className = "text-center mt-4 text-danger";
                        msg.innerText = "❌ Không tìm thấy lớp học nào phù hợp!";
                        document.querySelector(".px-4.pt-2.pt-4.pb-4").appendChild(msg);
                    }
                } else {
                    const existingMsg = document.getElementById("noResult");
                    if (existingMsg) existingMsg.remove();
                }
            });
        });
    </script>
 } 
